body {
  font-family: Ubuntu,sans-serif;
  color: #002b54;
  background: #eef;
}
a, a:visited {
  color: #0084FF;
  text-decoration: none;
}
a:active, a:hover {
  color: #0004ff;
}
h1 {
  font-family: "Delicious SmallCaps";
  font-size: 1.75em;
  letter-spacing: 0.1em;
  /*font-weight: normal;*/
  /*padding: 0.25em;*/
  /*padding-bottom: 0;*/
}
#site_title, #site_title a, #site_title a:active, #site_title a:hover {
  text-align: center;
  background: #002b54;
  color: #eef;
  display:block;
  margin-bottom: 0;
  border-radius: 2em 2em 0 0;
}
#site_title {
  /*margin: 0;*/
  /*font-size: 1.5em;*/
  /*font-family: "Diavlo Black";*/
  /*box-shadow: 0 0 5px 5px #002b54;*/
}
#page_title {
  margin-top: 0;
  background: #0057a8;
  color: #eef;
  border-radius: 0 0 2em 2em;
  text-align: center;
}
h2 {
  border-bottom: solid #0057a8 4px;
  background: #ccf;
}
h3 {
  border-bottom: dashed #0057a8 1px;
  background-color: #ccf;
}
table {
  border: solid #0057a8 4px;
  border-collapse: collapse;
  background: #eef;
}
tr.even {
  background: #ccf;
}
th, td {
  border: solid 1px #0057a8;
  text-align: left;
  padding: 0.1em 0.5em;
}
th {
  background: #0057a8;
  color: #eef;
  border-color: #eef;
}
